* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: Monaco, "Courier New", monospace;
}
header {
    padding: 30px;
    border-bottom: 2px solid #d6d6d6;
    overflow: hidden;
}
header h1 {
    font-size: 30px;
    float: left;
}
header span {
    font-size: 18px;
    float: right;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    color: #555;
}
.wrapper .intro {
    font-size: 18px;
    line-height: 40px;
    padding: 30px 0;
}
.wrapper .content h4 {
    font-size: 24px;
    
}
.wrapper .content .posts {
    padding-top: 30px;
    list-style-type: none;
    padding-bottom: 30px;
}
.wrapper .content .posts span {
    color: #aaa;
}
footer {
    padding: 30px;
    border-top: 2px solid #d6d6d6;
    overflow: hidden;
}